* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2%;
    height: 5vh;
    font-size: 25px;
    background: red;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: yellow;
}

.Side {
    height: 100vh;
    border: 2px solid black;
}

main > .Left.Side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    border: 2px solid black;
}

    .Left.Side > .Panel {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(5, 80px);
        width: 85%;
        height: 50%;
        gap: 20px;
        border-radius: 10px;
    }

        .Panel > .Box {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: white;
        }    

            .Box > p:nth-child(1) {
                font-size: 25px;
                font-weight: bolder;
            }

            .Box:hover {
                cursor: pointer
            }

    .Left.Side > .Button {
        width: 85%;
        height: 150px;
        background: red;
    }

        .Button > button {
            width: 100%;
            height: 100%;
        }

    .Left.Side > .Projects {
        background: none;
    }

        .Projects > .Title {
            display: flex;
            gap: 20px;
        }

        .Projects .List {
            opacity: 0;
            max-height: 0;
        }

        .Projects .List.Open {
            animation: come-in 3s forwards;
            max-height: 200px;
            display: flex;
        }

        @keyframes come-in {
            0% {
                opacity: 0;
                height: 0;
            }
            100% {
                opacity: 1;
                height: 150px;
            }
        }

        .Projects .List > ul {
            list-style: none;
        }

main > .Right.Side {
    display: flex;
    overflow: hidden;
    resize: both;
    background: green;
    width: 80vw
}

.Right.Side > div {
        border: 2px solid red;
        height: 85vh;
        width: 1000px;
        position: relative;
    }

.Dialog {
    display: none;
}

.Dialog.Open { 
    display: flex;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 500px;
    height: 500px;
    display: flex;
    background: red;
}

    .Dialog.Open > button {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 5px;
        right: 5px
    }