* {
    padding: 0;
    margin: 0;
}

:root {
    --blue: rgb(45, 115, 255);
    --yellow: rgb(250, 221, 61);
}

html {
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

::-webkit-scrollbar {
    background: var(--blue);
    border-radius: 2.5em;
    width: 0.5em;
    position: relative;
    right: 0px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 2.5em;
}

/* Track */

h1 {
    font-size: 6rem;
    letter-spacing: 1rem;
    font-weight: lighter;
    color: white;
    animation: changing-color 3s ease-in infinite;
}

h2 {
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: lighter;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    background: white;
    width: 95%;
    color: var(--blue);
}

@keyframes changing-color {
    0% {color: white;}
    50% {color: var(--blue);}
    80% {color: white }
}

.Main.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#3e9433, #317828); 
}

.Main.Container .Main.Card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 35% 35% 10% auto;
    gap: 5%;
    height: 80%;
    width: 70%;
    padding: 2%;
    overflow: scroll;
    overflow-x: hidden;
    background: var(--yellow);
}

.Main.Card > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 2.5em;
    border: 2px solid rgb(201, 182, 128);
    box-shadow: 0.1rem 0.1rem 0.2rem black;
}

.Main.Card > div:nth-child(1) {
    grid-row: 1/3;
}

.Main.Card > div:nth-child(4) {
    grid-column: 1/3;
} 

.Main.Card > div:nth-child(5) {
    grid-column: 1/3;
} 

.Main.Card .Image {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: white;
}

.Main.Card .Paragraph.One,
.Main.Card .Paragraph.Two {
    font-size: 1.7rem;
    padding: 2%;
    overflow: hidden;
    color: var(--blue);
}

.Main.Card .Cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    background: rgb(255, 255, 255);
    gap: 5%; 
    padding: 3%;
}

.Main.Card .Cards  > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    height: 40rem;
    gap: 1em;
    border-radius: 2em;
    color: white;
    background: var(--blue);
    box-shadow: 1em 1em black;
    border: 2px solid black;
    transition: transform 0.3s;
}

.Main.Card .Cards .Recipe.Container {
    width: 20em;
    height: 15em;
}

.Main.Card .Cards .Recipe.Container img {
    width: 100%;
    height: 100%;
}

.Main.Card .Cards  p {
    font-size: 1.65em;
    text-align: center;
}

.Main.Container .Recipe.Card {
    width: 74%;
    height: 80%;
    background: var(--yellow);
    display: none;
}

@media (max-width: 85rem) {
    
    h1 {
        text-align: center;
    }

    .Main.Container .Main.Card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 50% 50% 10% 400%;
        padding: 5%;
    }

    .Main.Card .Paragraph.One, 
    .Main.Card .Paragraph.Two {
        font-size: 1.75vw;
    }

    .Main.Container .Main.Card > div {
        grid-column: 1/3;
    }

    .Main.Container .Main.Card > div:nth-child(4) {
        text-align: center;
    }

    .Main.Card .Image {
        display: none;
    }

    .Main.Card .Cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        padding: 3%;   
    }

    .Main.Card .Cards > div > h3 {
        font-size: 3rem;
    }
}

.Main.Card .Cards > div:hover {
    background: rgb(41, 78, 182);
}